    .cards{
        background-size: 1049px;
        width: 79px!important;
        height: 132px!important;
    }

    .spade, .heart, .club, .diamond {
        /*background-size: 78px 110px;*/
        background-repeat: no-repeat;
        background-size: 78px 132px;
    }

    .cardback{
        background-image: url("Back.webp");
        background-size: 78px 132px;
        background-repeat: no-repeat;
    }

    .spade.cardace{
        background-image: url("As.png");
    }

    .spade.card2{
        background-image: url("2s.png");
    }

    .spade.card3{
        background-image: url("3s.png");
    }

    .spade.card4{
        background-image: url("4s.png");
    }

    .spade.card5{
        background-image: url("5s.png");
    }

    .spade.card6{
        background-image: url("6s.png");
    }

    .spade.card7{
        background-image: url("7s.png");
    }

    .spade.card8{
        background-image: url("8s.png");
    }

    .spade.card9{
        background-image: url("9s.png");
    }

    .spade.card10{
        background-image: url("10s.png");
    }

    .spade.cardjack{
        background-image: url("Js.png");
    }

    .spade.cardqueen{
        background-image: url("Qs.jpg");
    }

    .spade.cardking{
        background-image: url("Ks.jpg");
    }


    .diamond.cardace{
        background-image: url("Ad.jpg");
    }

    .diamond.card2{
        background-image: url("2d.png");
    }

    .diamond.card3{
        background-image: url("3d.png");
    }

    .diamond.card4{
        background-image: url("4d.png");
    }

    .diamond.card5{
        background-image: url("5d.png");
    }

    .diamond.card6{
        background-image: url("6d.png");
    }

    .diamond.card7{
        background-image: url("7d.png");
    }

    .diamond.card8{
        background-image: url("8d.png");
    }

    .diamond.card9{
        background-image: url("9d.png");
    }

    .diamond.card10{
        background-image: url("10d.png");
    }

    .diamond.cardjack{
        background-image: url("Jd.png");
    }

    .diamond.cardqueen{
        background-image: url("Qd.jpg");
    }

    .diamond.cardking{
        background-image: url("Kd.jpg");
    }



    .club.cardace{
        background-image: url("Ac.png");
    }

    .club.card2{
        background-image: url("2c.png");
    }

    .club.card3{
        background-image: url("3c.png");
    }

    .club.card4{
        background-image: url("4c.png");
    }

    .club.card5{
        background-image: url("5c.png");
    }

    .club.card6{
        background-image: url("6c.png");
    }

    .club.card7{
        background-image: url("7c.png");
    }

    .club.card8{
        background-image: url("8c.png");
    }

    .club.card9{
        background-image: url("9c.png");
    }

    .club.card10{
        background-image: url("10c.png");
    }

    .club.cardjack{
        background-image: url("Jc.JPG");
    }

    .club.cardqueen{
        background-image: url("Qc.png");
    }

    .club.cardking{
        background-image: url("Kc.jpg");
    }


    .heart.cardace{
        background-image: url("Ah.png");
    }

    .heart.card2{
        background-image: url("2h.png");
    }

    .heart.card3{
        background-image: url("3h.png");
    }

    .heart.card4{
        background-image: url("4h.png");
    }

    .heart.card5{
        background-image: url("5h.png");
    }

    .heart.card6{
        background-image: url("6h.png");
    }

    .heart.card7{
        background-image: url("7h.png");
    }

    .heart.card8{
        background-image: url("8h.png");
    }

    .heart.card9{
        background-image: url("9h.png");
    }

    .heart.card10{
        background-image: url("10h.png");
    }

    .heart.cardjack{
        background-image: url("Jh.png");
    }

    .heart.cardqueen{
        background-image: url("Qh.jpg");
    }

    .heart.cardking{
        background-image: url("Kh.png");
    }
